level_one/nathan's-workflow.json
{
  "name": "nathan's-workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        -16
      ],
      "id": "c05980f9-ea9b-4e25-8bda-63f8b5d9c8ab",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": " https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "81e432660953ef3477c8d9308b945670"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        -16
      ],
      "id": "e29af891-e385-4ce9-a864-d03c55dc15ad",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "I6OmrWdEM9FwjXA2",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appi9NvUHun1zi9hN",
          "mode": "list",
          "cachedResultName": "nathan-workflow",
          "cachedResultUrl": "https://airtable.com/appi9NvUHun1zi9hN"
        },
        "table": {
          "__rl": true,
          "value": "tbl3YcuTgqKCMnpaC",
          "mode": "list",
          "cachedResultName": "sales_data_for_follow_up",
          "cachedResultUrl": "https://airtable.com/appi9NvUHun1zi9hN/tbl3YcuTgqKCMnpaC"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        576,
        -112
      ],
      "id": "1cd9c163-1063-4dbe-a763-6ec6900662e4",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "WpTjABi5Bduv5qlr",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "90d9230d-0320-4095-90dc-5a6ec52ecf81",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "=processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a14ad092-e8ce-40ff-9f11-58050b3572a6",
              "leftValue": "={{ $json.employeeName }}",
              "rightValue": "Mario",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        -16
      ],
      "id": "0c55d468-b902-4d15-9f08-4d5a8ac52348",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55850fdc-81cf-4372-8122-a31f3ab5e3b2",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "89e2f16b-91e3-47f6-ba0d-5d40ffb1f555",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -112
      ],
      "id": "bf885199-782e-429a-8ccb-90cda2f38775",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "\nlet items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        80
      ],
      "id": "99282b71-81b8-44b8-98a5-2ef0d86254b0",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        576,
        80
      ],
      "id": "d2ee9c70-8413-4cac-a6ba-c23e976e1220",
      "name": "Discord",
      "webhookId": "0318d932-578c-4374-84dc-8ba0dbcfbc79",
      "credentials": {
        "discordWebhookApi": {
          "id": "bVBl5OdJLrs6avZT",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de288ebe-3a34-4223-9001-1247a6af423e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df959049b4e460a2444ce5fb933d98fb026bdf3ae87eb8b322dd280ae1800378"
  },
  "id": "jHe1A7f16ai4QHNf",
  "tags": []
}